.mmenu
{
	background: #323849;
}
.mmenu li
{
	border-top-color: #3F4454;
	border-bottom-color: #232733;
}
.mmenu li > a,
.mmenu li > span,
.mmenu li > a:hover
{
	color: #abc;
}
.mmenu li.mmenu-selected > a,
.mmenu li.mmenu-selected > span,
.mmenu a.mmenu-subclose
{
	background: #232733;
}
.mmenu a.mmenu-subopen
{
	border-left-color: #232733;
}
.mmenu li.mmenu-label,
.mmenu em.mmenu-counter
{
	background: #3F4454;
	color: #def;
}