@media (max-width: 767px)
{
	/* top */
	html.mm-top.mm-opening .mm-page,
	html.mm-top.mm-opening #mm-blocker
	{
		margin: -65px 0 0 0 !important;
	}
	
	/* right */
	html.mm-right.mm-opening .mm-page,
	html.mm-right.mm-opening #mm-blocker
	{
		margin: 0 -65px 0 0 !important;
	}
	
	/* bottom */
	html.mm-bottom.mm-opening .mm-page,
	html.mm-bottom.mm-opening #mm-blocker
	{
		margin: 0 0 -65px 0 !important;;
	}
	
	/* left */
	html.mm-opening .mm-page,
	html.mm-opening #mm-blocker
	{
		margin: 0 0 0 -65px !important;
	}
}