.mmenu
{
	background: #352124;
}
.mmenu li
{
	border-top-color: #4F2E32;
	border-bottom-color: #211315;
}
.mmenu li > a,
.mmenu li > span,
.mmenu li > a:hover
{
	color: #D6D4D4;
}
.mmenu li.mmenu-selected > a,
.mmenu li.mmenu-selected > span,
.mmenu a.mmenu-subclose
{
	background: #2B181A;
}
.mmenu a.mmenu-subopen
{
	border-left-color: #211315;
}
.mmenu li.mmenu-label,
.mmenu em.mmenu-counter
{
	background: #563339;
	color: #E0DCDC;
}