html.mmenu-opened .mmenu-page
{
	box-shadow: 0 0 15px rgba( 0, 0, 0, 0.2 );
}
.mmenu
{
	background: #f6f6f6;
}
.mmenu *
{
	text-shadow: none;
}
.mmenu li
{
	border-top-color: #fff;
	border-bottom-color: #ddd;
	position: relative;
}
.mmenu li > a,
.mmenu li > span,
.mmenu li > a:hover
{
	color: #666;
}
.mmenu li.mmenu-selected > a,
.mmenu li.mmenu-selected > span,
.mmenu a.mmenu-subclose
{
	background: #fff;
}
.mmenu a.mmenu-subopen
{
	border-left-color: #ddd;
}
.mmenu a.mmenu-subopen:after,
.mmenu a.mmenu-subclose:before
{
	border-color: rgba( 0, 0, 0, 0.2 );
}
.mmenu li.mmenu-label,
.mmenu em.mmenu-counter
{
	background: #ddd;
	color: #777;
}
.mmenu em.mmenu-counter
{
	box-shadow: none;
}